* {
    margin: 0;
    padding: 0;
}

#body {

    background-color: rgb(160, 160, 165);
}

/* buscador de peliculas */
.peliculas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: brown;
    text-decoration: none;
    width: 1;
}

.peliculas h1 {
    display: flex;
    align-content: space-around;
    color: black;
    font-size: 40px;
    text-decoration: none;
}

.peliculas a {
    text-decoration: none;
}

.prueba img {
    display: flex;
    padding: 15px;
    gap: 20px;
}

/* titulo y año */
.preInfo {
    color: red;
}

/* peliculas solicitadas */
#movieSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat round;
    padding: 20px;

}

.movieContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size: 100%;
    padding: 20px;
}

.movieContainer P {
    color: red;
}

.btnFav {
    margin-left: 10px;
    color: black;
    background-color: rgb(6, 204, 39);
    height: 50px;
    border-radius: 5px;
}

.movieContainer button:hover {
    background-color: red
}


/* FAVORITO */
.favouriteContainer {
    display: flex;
    padding: 20px;
    gap: 30px;
}

.favlink h1 {
    font-size: 40px;
    text-decoration: none;
}

.btnerase {
    display: flex;

    background-color: red;
    border-radius: 60%;
    padding: 5px;


}